@font-face {
    font-family: 'retro';
    src: url('retro.ttf');
}

body {
    font-family: 'retro';
    margin: 0;
    overflow: hidden;
    background: #1a1d23;
    text-align: center;
    font-size: 16px;
}

.center {
    font-size: 80px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
